body {
  padding: 0;
  background-image: url(./images/body.jpg);
  display: block;
  background-position: center ;
  /*background-repeat: no-repeat;
  background-size: cover;*/
  
}
a:active {
  color: rgb(43, 223, 88);
}

.div-continer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.div-header h3 {
  color: white;
 
}
.div-navbar {
  width: 80%;
  height: 20%;

  text-align: center;
}

a {
  color: white;
  margin: 12px;
  text-decoration:  none;
  font-family:cursive;
}
i,
a:hover {
  cursor: pointer;
  opacity:0.7;
}

i {
  color: white;
}
.div-articels {
  background-color: #6aa279;
  opacity: 0.6;
  color: #2f4441;

  width: 75%;
  padding: 60px;

  margin-top: 200px;
}
.div-articels h3 {
  font-weight: bold;
}
